@model Mercadia.Infrastructure.DTO.Users.UserResponseDto
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_CenterLayout.cshtml";
}

<header class="page-header">
    <h1 class="page-title">Mercadia Registration</h1>
</header>

<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="thin text-center">Verify account</h3>
            <p class="text-center text-muted">Welcome  to Mercadia, @Model.FirstName @Model.LastName!</p>
            <p class="text-center text-muted">A little bit more and you're good to go. We just need you to verify your account by typing in your verification code.</p>
            <hr>

            @using (Html.BeginForm("VerifyEmail", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="top-margin">
                    <label>Verification Code</label>
                    @Html.HiddenFor(a => a.Id)
                    <input type="password" class="form-control" name="VerificationCode">
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-4 text-right">
                        <button class="btn btn-action" type="submit">Verify</button>
                    </div>
                </div>
            }
        </div>
    </div>
