@model Mercadia.Infrastructure.DTO.Stores.StoreRequestDto
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LeftLayout.cshtml";
}

<header class="page-header">
    <h1 class="page-title">Update Store</h1>
</header>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">

            @using (Html.BeginForm("Update", "Stores", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="top-margin">
                    <label>Store Name</label>
                    @Html.TextBoxFor(a => a.Name, new { @class = "form-control", placeholder = "Store Name" })
                </div>
                <div class="top-margin">
                    <label>Description</label>
                    @Html.TextAreaFor(a => a.Description, new { @class = "form-control", placeholder = "Description" })
                </div>
                <hr>
                <div class="top-margin">
                    <label>Address</label>
                    @Html.TextAreaFor(a => a.Address, new { @class = "form-control", placeholder = "Address" })
                </div>

                <div class="top-margin">
                    <label>ZipCode<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(a => a.ZipCode, new { @class = "form-control", placeholder = "ZipCode" })
                    @Html.HiddenFor(a => a.StoreOwnerId)
                    @Html.HiddenFor(a => a.ProfilePic)
                    @Html.HiddenFor(a => a.Template)
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-8">
                        <label class="checkbox">

                        </label>
                    </div>
                    <div class="col-lg-4 text-right">
                        <button class="btn btn-action" type="submit">Save changes</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="modal fade" id="mdlChangeTemplate" tabindex="-1" role="dialog" aria-labelledby="mdlForm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Change Template</h4>
                </div>
                <form class="form-horizontal" role="form">
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <input type="hidden" value="@Model.Id" id="StoreId" />
                            <input type="hidden" value="@Model.Template" id="StoreTemplate" />
                            <a href="#" onclick="setTemplate('businessr');e.preventDefault();" style="margin:10px;">
                                <img src="~/content/Stores/templates/businessr.png" alt="businessr" style="width:150px; @(Model.Template.ToLower() == "businessr" ? "border: 5px solid #FF8C00;" : "border: 5px solid #ccc;")" class="templateImage" id="businessr_template" />
                            </a>
                            <a href="#" onclick="setTemplate('eelectronics'); e.preventDefault();" style="margin:10px;">
                                <img src="~/content/Stores/templates/eelectronics.png" alt="eelectronics" style="width:150px;@(Model.Template.ToLower() == "eelectronics" ? "border: 5px solid #FF8C00;" : "border: 5px solid #ccc;")" class="templateImage" id="eelectronics_template" />
                            </a>
                            <a href="#" onclick="setTemplate('eshopper'); e.preventDefault();" style="margin:10px;">
                                <img src="~/content/Stores/templates/eshopper.png" alt="eshopper" style="width:150px;@(Model.Template.ToLower() == "eshopper" ? "border: 5px solid #FF8C00;" : "border: 5px solid #ccc;")" class="templateImage" id="eshopper_template" />
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="btnSaveNewTemplate" type="button" class="btn btn-primary" onclick="saveNewTemplate()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @section Sidebar{
        <h2 class="thin ">@Model.Name</h2>
        <div class="col-md-12 highlight">
            <div class="h-caption">
                <img src="@Model.ProfilePic" alt="@Model.Name" style="width:200px;height:200px;" />
                @using (Html.BeginForm("ChangeProfilePic", "Stores", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="top-margin">
                            <input type="file" name="File" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="clearfix" />
                    <div class="row">
                        <button class="btn btn-action" type="submit">Change profile Image</button>

                    </div>
                }

                <hr/>
                <br />
                <div class="clearfix" />
                <h4 class="thin ">Template: @Model.Template</h4>
                <img src="~/content/Stores/templates/@(Model.Template).png" alt="@Model.Template" style="width:200px;height:200px;" />
                <div class="row">
                    <div class="top-margin">

                    </div>
                </div>
                <br />
                <div class="clearfix" />
                <div class="row">
                    <button class="btn btn-action" type="button" onclick="changeTemplatePrompt()">Change Template</button>

                </div>
            </div>
        </div>

        <div class="clearfix" />

        <h3 class="thin ">Your Other Stores</h3>
        @foreach (Mercadia.Infrastructure.DTO.Stores.StoreResponseDto store in Mercadia.Web.Securities.WebUser.UserStores.Where(a => a.Id.ToString() != Model.Id))
        {

            <div class="col-md-6 highlight">
                <a href="~/manage/stores/@store.Id" style="text-decoration:none;">
                    <div class="h-caption"><img src="@store.ProfilePic" alt="@store.Name" style="width:100px;height:100px;" /><h4>@store.Name</h4></div>
                    <div class="h-caption"><a class="btn-link" href="~/manage/stores/@store.Id">MANAGE</a></div>
                </a>
            </div>
        }
    }


    @section scripts{
        <script>
        function changeTemplatePrompt() {
            $('#mdlChangeTemplate').modal('show');
        }

        function setTemplate(template) {
            $('.templateImage').attr("style", "width:150px;border: 5px solid #ccc;");
            $('#' + template + '_template').attr("style", "width:150px;border: 5px solid #FF8C00;");
            $('#StoreTemplate').val(template);
        }

        function saveNewTemplate() {
            var model = {
                Id: $('#StoreId').val(),
                Template: $('#StoreTemplate').val()
            }

            $.ajax({
                url: "@Url.Content("~/manage/stores/updatetemplate")",
                dataType: "json",
                data: model,
                type: "POST",
                async: false
            }).done(function (obj) {
                location.reload();
            }).fail(function (obj) {
                location.reload();
            });

        }
    </script>
    }
